<html>
  <head>
    
  </head>
  <body>
    <form>
      <label for='message'>Message</label>
      <br>
      <input type='text' name='message' id='message'>
      <br><br>
      <label for='cipher'>Cipher Seed (number)</label>
      <br>
      <input type='integer' name='cipher' id='cipher'>
      <br><br>
      <input type='submit' name='encrypt', value='Encrypt'>
      <input type='submit' name='decrypt', value='Decrypt'>
    </form>
    <p>
      <%= message %>
    </p>
  </body>
</html>